<section class="cta" aria-labelledby="cta-title">
  <div class="container cta__container">
    <div class="cta__inner">
      <p class="cta__text">
        If we keep practicing, we gain fluency; basic skills are mastered,
        allowing us <br />
        to take on newer and more exciting challenges.
      </p>

      <a class="cta__button" href="./contact.html">Get In Touch</a>

      <h2 class="cta__title" id="cta-title">
        How about we make something awesome together?
      </h2>
    </div>
  </div>
</section>
