// *========== RESET ==========

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// * ========== ЗМІННІ (КОЛЬОРИ, БРЕЙКПОІНТИ) ==========

$color-bg-main: #12121c;
$color-text-main: #ffffff;
$color-text-muted: #88888d;
$color-accent: #006ada;

$bp-mobile-lg: 414px;
$bp-tablet: 768px;
$bp-laptop-md: 1024px;
$bp-laptop: 1440px;
$bp-desktop: 1920px;

// * ========== БАЗОВА ТИПОГРАФІЯ ТА BODY ==========

body {
  font-family: "Sora", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: $color-bg-main;
  color: $color-text-main;
}

.page {
  min-height: 100vh;
}

// * ========== CONTAINER & SECTION ==========

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 16px;

  @media (min-width: $bp-mobile-lg) {
    padding-inline: 40px;
  }

  @media (min-width: $bp-tablet) {
    padding-inline: 60px;
  }

  @media (min-width: $bp-laptop-md) {
    padding-inline: 90px;
  }

  @media (min-width: $bp-laptop) {
    padding-inline: 90px;
  }

  @media (min-width: $bp-desktop) {
    padding-inline: 120px;
  }
}

.section {
  padding-block: 48px;

  @media (min-width: $bp-tablet) {
    padding-block: 64px;
  }

  @media (min-width: $bp-laptop-md) {
    padding-block: 80px;
  }

  @media (min-width: $bp-laptop) {
    padding-block: 96px;
  }
}

// * ========== HEADER ==========

.header {
  background-color: $color-bg-main;
  padding-block: 25px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Лого
  &__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    max-width: 115px;

    &-icon {
      width: 23px;
      height: 28px;
      flex-shrink: 0;
    }

    &-text {
      font-family: "DM Sans", sans-serif;
      font-weight: 700;
      font-size: 22px;
    }
  }

  // Бургер
  &__burger {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-icon {
      width: 26px;
      height: 18px;
    }
  }

  // Навігація
  &__nav {
    display: none;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;
      margin-right: 40px;
    }

    &-link {
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      color: $color-text-muted;
      transition: color 0.2s ease;

      &:hover,
      &:focus-visible {
        color: $color-text-main;
      }
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: $color-text-main;

    padding-inline: 24px;
    padding-block: 14px;
    border-radius: 8px;
    background: #223;
  }

  // TABLET + DESKTOP (від 768px)
  @media (min-width: $bp-tablet) {
    &__burger {
      display: none;
    }

    &__nav {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }

  // 1024px — під макет 1024
  @media (min-width: $bp-laptop-md) {
    padding-block: 20px;

    &__inner {
      padding-left: 9px;
    }

    &__logo {
      column-gap: 17px;
      max-width: 141px;

      &-icon {
        width: 27px;
        height: 33px;
      }

      &-text {
        font-weight: 700;
        font-size: 27px;
      }
    }
  }

  // 1440px — макет 1440
  @media (min-width: $bp-laptop) {
    padding-top: 26px;
    padding-bottom: 22px;
  }

  // 1920px — XL-адаптив
  @media (min-width: $bp-desktop) {
    padding-top: 32px;
    padding-bottom: 28px;

    &__inner {
      padding-left: 0;
    }

    &__logo {
      column-gap: 20px;
      max-width: none;

      &-icon {
        width: 32px;
        height: 40px;
      }

      &-text {
        font-size: 30px;
      }
    }

    &__nav-list {
      column-gap: 48px;
      margin-right: 60px;
    }

    &__nav-link {
      font-size: 18px;
    }

    &__btn {
      font-size: 18px;
      padding-inline: 32px;
      padding-block: 16px;
      border-radius: 10px;
    }
  }
}
