// *========== RESET ==========

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// * ========== ЗМІННІ (КОЛЬОРИ, БРЕЙКПОІНТИ) ==========

$color-bg-main: #12121c;
$color-text-main: #ffffff;
$color-text-muted: #88888d;
$color-accent: #006ada;

$bp-mobile-lg: 414px;
$bp-tablet: 768px;
$bp-laptop-md: 1024px;
$bp-laptop: 1440px;
$bp-desktop: 1920px;

// * ========== БАЗОВА ТИПОГРАФІЯ ТА BODY ==========

body {
  font-family: "Sora", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: $color-bg-main;
  color: $color-text-main;
}

.page {
  min-height: 100vh;
}

// * ========== CONTAINER & SECTION ==========

.container {
  width: 100%;
  margin-inline: auto;
  max-width: 375px;
  padding-inline: 16px;
}

@media (min-width: $bp-mobile-lg) {
  .container {
    max-width: $bp-mobile-lg;
    padding-inline: 40px;
  }
}

@media (min-width: $bp-tablet) {
  .container {
    max-width: $bp-tablet;
    padding-inline: 60px;
  }

  .section {
    padding-block: 64px;
  }
}

@media (min-width: $bp-laptop-md) {
  .container {
    max-width: $bp-laptop-md;
    padding-inline: 90px;
  }

  .section {
    padding-block: 80px;
  }
}

@media (min-width: $bp-laptop) {
  .container {
    max-width: $bp-laptop;
    padding-inline: 90px;
  }

  .section {
    padding-block: 96px;
  }
}

@media (min-width: $bp-desktop) {
  .container {
    max-width: $bp-desktop;
    padding-inline: 330px;
  }
}

.section {
  padding-block: 48px;
}

// * ========== BUTTONS ==========

// * ========== HEADER ==========

.header {
  background-color: $color-bg-main;
  padding-block: 25px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  max-width: 115px;
}

.header__logo-icon {
  width: 23px;
  height: 28px;
  flex-shrink: 0;
}

.header__logo-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.header__burger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__burger-icon {
  width: 26px;
  height: 18px;
}

.header__nav {
  display: none;
}

@media (min-width: $bp-tablet) {
  .header__burger {
    display: none;
  }

  .header__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header__nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-right: 40px;
  }

  .header__nav-link {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: $color-text-muted;
    transition: color 0.2s ease;
  }

  .header__nav-link:hover,
  .header__nav-link:focus-visible {
    color: $color-text-main;
  }

  .header__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;

    padding-inline: 24px;
    padding-block: 14px;

    border-radius: 8px;
    background: #223;
  }
}

@media (min-width: $bp-laptop-md) {
  .header {
    padding-block: 20px;
  }

  .header__inner {
    padding-left: 99px;
  }

  .header__logo-icon {
    width: 27px;
    height: 33px;
  }

  .header__logo-text {
    font-weight: 700;
    font-size: 27px;
  }

  .header__logo {
    column-gap: 17px;
    max-width: 141px;
  }
}

@media (min-width: $bp-laptop) {
  .header {
    padding-top: 26px;
    padding-bottom: 22px;
  }
}
