// *========== RESET ==========

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// * ========== ЗМІННІ (КОЛЬОРИ, БРЕЙКПОІНТИ) ==========

$color-bg-main: #12121c;
$color-text-main: #ffffff;
$color-text-muted: #b0b0c3;
$color-accent: #006ada;

$bp-tablet: 768px;
$bp-laptop: 1440px;
$bp-desktop: 1920px;

// * ========== БАЗОВА ТИПОГРАФІЯ ТА BODY ==========

body {
  font-family: "Sora", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: $color-bg-main;
  color: $color-text-main;
}

/* Загальний клас для сторінок: .page + модифікатор .page-home, .page-about і т.д. */
.page {
  min-height: 100vh;
}

// * ========== CONTAINER & SECTION ==========

.container {
  width: 100%;
  max-width: 375px; /* базова мобільна ширина */
  margin-inline: auto;
  padding-inline: 16px;
}

/* базові відступи секцій по вертикалі */
.section {
  padding-block: 48px;
}

@media (min-width: $bp-tablet) {
  .container {
    max-width: 768px;
    padding-inline: 24px;
  }

  .section {
    padding-block: 64px;
  }
}

@media (min-width: $bp-laptop) {
  .container {
    max-width: 1200px; // орієнтовна робоча ширина всередині 1440px, потім підженемо під макет
    padding-inline: 32px;
  }

  .section {
    padding-block: 80px;
  }
}

@media (min-width: $bp-desktop) {
  .container {
    max-width: 1320px; // трохи ширше для 1920px, можна буде відкоригувати
  }

  .section {
    padding-block: 96px;
  }
}

// * ========== BUTTONS ==========

// * ========== HEADER ==========

// мобільна версія 375px

.header {
  background-color: $color-bg-main;
  padding-block: 25px; // відступи зверху/знизу як у макеті
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // у макеті від краю екрана до логотипу ~32px
  padding-inline: 32px;
}

/* Лого */

.header__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

.header__logo-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.header__logo-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

/* Бургер */

.header__burger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header__burger-icon {
  width: 24px;
  height: 24px;
}

/* Десктопне меню на мобілці приховане */

.header__nav {
  display: none;
}
